* {
  font-family: "Symbols Nerd Font", "MonoLisa Variable", monospace;
  font-size: 14px;
}

window#waybar {
  background-color: #303446;
  color: #c6d0f5;
}

#custom-workspaces {
  padding-left: 10px;
}

#custom-weather {
  padding-right: 15px;
}

#custom-updates,
#custom-nordvpn,
#network,
#bluetooth,
#battery {
  padding: 0 15px;
}

#battery {
  padding-right: 20px;
}
