* {
  font-family: "Symbols Nerd Font", "MonoLisa Variable", monospace;
  font-size: 14px;
}

window#waybar {
  background-color: #303446;
  color: #c6d0f5;
}

#workspaces {
  padding-left: 10px;
}

#workspaces button {
  padding: 0 8px;
  color: #737994;
  background: transparent;
  border: none;
  box-shadow: none;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
}

#workspaces button.active {
  color: #c6d0f5;
}

#custom-nordvpn,
#network,
#battery {
  padding: 0 5px;
}

#battery {
  padding-right: 15px;
}
